/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

main{
    flex-grow: 1;
    /* margin-top: 80px; */
    background-color: #141922;
    overflow-y: scroll;

}

header{
    height: 80px;
    /* width: calc(100% - 230px); */
    background-color:rgba(26, 26, 26, 0.8);
    text-align: end;
    position: sticky;
    top: 0;
    right: 0;
    
}

footer{
    height: 100px;
    background-color: #282828;
   }

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

h2 {
    padding: 15px 0;
}

h5 {
    color: rgb(70, 72, 79);

}


/* Utils */
.flex {
    display: flex;
}

.rounded {
    border-radius: 50%;
}



/*Content */

.content{
    height: calc(100vh - 100px);
}

/* Sidebar */
.sidebar{
    height: 100%;
    background-color: black;
    flex-basis: 230px;
    flex-shrink: 0;
    flex-grow: 0;
    color: white;
    padding-left: 15PX;

}

.sidebar a {
    color: rgb(70, 72, 79);

}

#logo-sidebar {
    padding: 15px 0;
}

#logo-sidebar img {
    height: 45px;
}

#navbar-side ul {
    margin-top: 10px;
}

#playlist h3 {
    margin: 30px 0 15px 0;
}


#add {
    font-size: 30px;
    border: 1px solid rgb(104, 104, 104);
    background-color: rgb(104, 104, 104);
    padding: 0 10px;
    margin-right: 5px;
    color: black;
    
}

.add-playlist h4 {
    align-self: center;
}

#playlist ul {
    margin-top: 15px;
}

#sidebar-bottom {
    /* border: 1px dashed yellow; */
    margin-top: 50px;
}

.install {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-right: 10px;
}

.install img {
    height: 25px;
    margin-right: 5px;
}

.profile {
    padding-top: 5px;
    padding-left: 5px;
}

.profile img {
    height: 15px;
}

.profile span {
    color: white;
    margin-left: 5px;
}


/* Main */

/* Header */
header a {
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 20px;
    position: relative;
    top: 28px;

}


/* Main View */
.main-view {
    background-color: rgb(20, 25, 34);
    padding-left: 15px;
    padding-right: 15px
}

.main-view-navbar ul {
    justify-content: center;

}

.main-view-navbar li {
    padding-right: 15px;
}

.main-view-navbar a {
    color: rgb(70, 72, 79);

}

.row {
    flex-wrap: wrap;
}

.card {
    flex-basis: calc((100% / 6) - 20px);
    /* border: 1px dashed yellow; */
    min-height: 100px;
    margin-left: 5px;
    text-align: center;
    
}

#create-for,#most-played {
    margin-top: 30px;
}

#create-for h2 {
    padding-bottom: 5px;

}

#create-for h5 {
    padding-bottom: 20px;
}

#most-played h2 {
    padding-bottom: 5px;

}

#most-played h5 {
    padding-bottom: 20px;
}

.card img {
    height: 180px;
    cursor: pointer;

}

.card h4 {
    margin-top: 8px;
}













/* Footer */





