/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

main{
    flex-grow: 1;
    /* margin-top: 80px; */
    background-color: #141922;
    overflow-y: scroll;

}

header{
    height: 80px;
    /* width: calc(100% - 230px); */
    background-color:rgba(26, 26, 26, 0.8);
    text-align: end;
    position: sticky;
    top: 0;
    right: 0;

}

footer{
    height: 80px;
    background-color: #282828;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
   }

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

h2 {
    padding: 15px 0;
}

h5 {
    color: rgb(70, 72, 79);

}


/* Utils */
.flex {
    display: flex;
}

.rounded {
    border-radius: 50%;
}

.hvr-white:hover {
    color: white;
}

.opacity:hover {
    opacity: 0.5;
}



/*Content */

.content{
    height: calc(100vh - 80px);
}

/* Sidebar */
.sidebar{
    height: 100%;
    background-color: black;
    flex-basis: 230px;
    flex-shrink: 0;
    flex-grow: 0;
    color: white;
    padding-left: 15PX;

}

.sidebar a {
    color: rgb(70, 72, 79);

}

#logo-sidebar {
    padding: 15px 0;
}

#logo-sidebar img {
    height: 45px;
}

.none-desktop {
    display: none;
}

#navbar-side ul {
    margin-top: 10px;
}

#playlist h3 {
    margin: 30px 0 15px 0;
}


#add {
    font-size: 30px;
    border: 1px solid rgb(104, 104, 104);
    background-color: rgb(104, 104, 104);
    padding: 0 10px;
    margin-right: 5px;
    color: black;

}

.add-playlist h4 {
    align-self: center;
}

#playlist ul {
    margin-top: 15px;
}

#sidebar-bottom {
    /* border: 1px dashed yellow; */
    margin-top: 70px;
}

.install {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-right: 10px;
}

.install img {
    height: 25px;
    margin-right: 5px;
}

.profile {
    padding-top: 5px;
    padding-left: 5px;
}

.profile img {
    height: 15px;
}

.profile span {
    color: white;
    margin-left: 5px;
}


/* Main */

/* Header */
header a {
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 20px;
    position: relative;
    top: 28px;
    margin-right: 25px;
}

header a:hover {
    transform: scale(1.2);
}


/* Main View */
.main-view {
    background-color: rgb(20, 25, 34);
    padding-left: 15px;
    padding-right: 15px
}

.main-view-navbar ul {
    justify-content: center;

}

.main-view-navbar li {
    padding-right: 15px;
}

.main-view-navbar a {
    color: rgb(70, 72, 79);

}

.evidence {
    border-bottom: 1px solid lime;
}

.row {
    flex-wrap: wrap;
}

.card {
    flex-basis: calc((100% / 6) - 20px);
    /* border: 1px dashed yellow; */
    min-height: 100px;
    margin-left: 5px;
    text-align: center;

}

/* figure:hover i {
    color: white;
    font-size: 70px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    display: block;
    transform: translate(-50% , 50%);
    cursor: pointer;
} */

#create-for,#most-played {
    margin-top: 30px;
}

#create-for h2 {
    padding-bottom: 5px;

}

#create-for h5 {
    padding-bottom: 20px;
}

#most-played h2 {
    padding-bottom: 5px;

}

#most-played h5 {
    padding-bottom: 20px;
}

.card img {
    height: 180px;
    cursor: pointer;

}

.card h4 {
    margin-top: 8px;
}


/* Footer */
.col-small {
    /* border: 1px dashed white; */
    flex-basis: 255px;
    height: 80px;
}

.col-large {
    /* border: 1px dashed white; */
    flex-basis: calc(100% - 460px);
    height: 80px;


}

/* current song section */
.current-song {
    flex-basis: calc(100% / 3);
    /* border: 1px dashed red; */
    height: 80px;
    color: rgb(70, 72, 79);

}

.current-song img {
    height: 60px;
    cursor: pointer;
}

.cover {
    padding: 7px;
}

.title {
    padding: 20px 0;
}

.title h5 {
    color: white;
}

.action {
    padding: 20px 5px;
    text-align: end;
}

.action a {
    color: rgb(70, 72, 79);
    margin-right: 5px;
}

.fa-heart:hover {
    color: white;
}

.fa-folder:hover {
    color: white;
}



/* Main player section */

.bttn-player {
    text-align: center;
    margin-top: 10px;
    padding-left: 25px;
}
.bttn-player a {
    font-size: 27px;
    color: white;
    margin-right: 30px;
    height: 50%;
}
.load-player {
    align-items: center;
    justify-content: center;
    height: 50%;
    gap: 20px;
}
.load-player p {
    color: white;
    font-size: 10px;
}
.bar-footer {
    height: 7px;
    width: 40%;
    background-color: #5A5A5A;
    border-radius: 10px;
}
.bar-footer-load {
    height: 100%;
    width: 20%;
    background-color: #C1C1C1;
    border-radius: 10px;
    position: relative;
}
.point-load {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transform: translate(-0% , -29%);
    right: 0;
    display: none;
}
.bar-footer-load:hover {
    background-color: #ADFF2F;
    cursor: pointer;
}

.bttn-player .fa-regular.fa-circle-play:hover {
    scale: 1.5;
}

.bar-footer-load:hover .point-load {
    display: block;
    height: 15px;
    width: 15px;
}



/* Colonna destra Action */
.action-dx {
    align-items: center;
    gap: 20px;
    width: 300px;
    justify-content: flex-end;
}
.action-dx a {
    color: white;
    font-size: 15px;

}
.load-dx {
    height: 7px;
    width: 100px;
    background-color: #5A5A5A;
    border-radius: 20px;
    margin-right: 10px;

}
.load-bar-dx {
    width: 40% ;
    height: 100% ;
    background-color: #C1C1C1;
    border-radius: 20px;
    position: relative;
}
.colCenFooterXS {
    display: none;
}

.load-bar-dx:hover {
    background-color: #ADFF2F;
    cursor: pointer;
}

.load-bar-dx:hover .point-load {
    display: block;
    height: 15px;
    width: 15px;
}


/* RESPONSIVE */

/* TABLET */
@media screen and (max-width: 768px) {
    .sidebar {
        overflow: auto;
        font-size: 10px;
        flex-basis: 208px;
    }

    .navbar-list {
        flex-wrap: wrap;
    }

    .card img {
        height: 110px;
        cursor: pointer;
    
    }

    .bttn-player a {
        font-size: 20px;
        margin-right: 15px;
    }

/* MOBILE 1 */
@media screen and (max-width: 576px) {
    .sidebar {
        overflow: auto;
    }

    header a {
        font-size: 12px;
    }   

    .main-view-navbar li {
        font-size: 12px;
    }

    .card h4 {
        font-size: 12px;
    }

    .card h5 {
        font-size: 9px;
    }

    .card img {
        height: 130px;
    }

    .col-large {
        flex-basis: 50%;
    }

    .col-small {
        flex-basis: 25%;
    }

    .bttn-player a {
        font-size: 20px;
        margin-right: 0;
        padding-right: 22px;
    }

    .action-dx a {
        font-size: 10px;
        margin: 0;
        
    }

    .action-dx {
        width: 140px;
        gap: 10px;
    }

    .action span {
        display: block;
    }

}


/* MOBILE 2 */
@media screen and (max-width: 425px) {
   .none {
    display: none;
   }

   .none-desktop {
    display: block;
   }

   .sidebar {
    flex-basis: 50px;
    font-size: 20px;
   }

   #logo-sidebar img {
    height: 25px;
   }

   #sidebar-bottom {
    margin-top: 315px;
   }

   #navbar-side ul {
    margin-top: 0;
    padding-left: 2px;
   }

   .main-view-navbar li {
    font-size: 10px;
}

.card img {
    height: 160px;
}
}



    
